/*=====reset=====*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
body{
	line-height:1.125;
	font-family:"Microsoft YaHei", "SimSun", Arial;
	font-size: 14px;
	word-break: break-all;
	background-attachment:fixed;	
}
img{
	vertical-align: middle;
	color:#c6c6c6;
	text-align:center;
	border:0;
	outline: none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
	border: none;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:normal;
}
ol,ul{
	list-style:none;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
	font-variant:normal;
}
sup{
	vertical-align:text-top;
}
sub{
	vertical-align:text-bottom;
}
input,textarea,select{
	font-family:inherit;
	font-weight:inherit;
	vertical-align:middle;
	width:auto;
	outline:none;
	border:0;
}
input,textarea,select{
	*font-size:100%;
}
a{
	color:transparent;
	text-decoration:none;
	blr:expression(this.onFocus=this.blur());
}
a:hover{
	text-decoration:none;
	outline:0;
}
/*=====reset end=====*/

/*=====index=====*/
body{
	background-color: #f2f2f2;
}
.logo{
	width: 13rem;
	padding: 1rem;
}
.logo img{
	width: 100%;
}
.item{
    height:2rem;
    background-color: #fff;
    margin-top:1rem;
}
.item span {
    float: left;
    width:2rem;
    padding:0.666rem;
}
.item input {
    float: right;
    width:10rem;
    padding:0.666rem;
}
.btn{
	padding: 1.2rem 0.666rem;
}
.btn button{
	padding: 0.52rem 0;
	color: #fff;
    background-color: #FF946E!important;
    font-size:0.6rem;
    display: block;
    width: 100%;
    border: 1px solid #FF946E;
    border-radius: 3px;
}
footer{
	text-align: center;
}
